footer{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    @include respond-to("small"){
        position: relative;
        padding-top: 50px;
    }
  .author{
    text-align: center;
    p a{
      color: $color-beige;
    }
  }
}